<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>MainServlet</servlet-name>
  	<display-name>MainServlet</display-name>
  	<description></description>
  	<servlet-class>com.grayMatter.MainServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.grayMatter.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SignupServlet</servlet-name>
  	<display-name>SignupServlet</display-name>
  	<description></description>
  	<servlet-class>com.grayMatter.SignupServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Account</servlet-name>
  	<display-name>Account</display-name>
  	<description></description>
  	<servlet-class>com.grayMatter.Account</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AccountServlet</servlet-name>
  	<display-name>AccountServlet</display-name>
  	<description></description>
  	<servlet-class>com.grayMatter.AccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MainServlet</servlet-name>
  	<url-pattern>/MainServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignupServlet</servlet-name>
  	<url-pattern>/SignupServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Account</servlet-name>
  	<url-pattern>/Account</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AccountServlet</servlet-name>
  	<url-pattern>/AccountServlet</url-pattern>
  </servlet-mapping>
</web-app>
