* {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(97, 79, 79);
    text-align: justify;
    line-height: 1.05;
}

#title {
    font-size: 24px;
    color: black;
    font-weight: 900;
}

.cls1 {
    font-size: 17px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.menu div {
    margin: 0 20px;
    position: relative;
    text-align: center;
    font-weight: 900;
}
.menu a {
    text-decoration: none;
    color: black;
    margin-right: 80px;
    font-size: 18px;
    margin-top: 50px;
}
.menu hr {
    border: none;
    border-top: 8px solid black;
    margin: 0;
    position: relative;
    top: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.menuH {
    display: flex;
    gap: 20px;
}
.menuH a {
    margin-right: 10px;
    text-decoration: none;
    color: black;
    font-size: 16px;
}
.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo {
    width: 40px;
    height: 40px;
    background-color: #ffcc00; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
}
.free-trial {
    display: flex;
    align-items: center;
    gap: 10px;
}
.free-trial-text {
    font-size: 16px;
}
.button-container {
    display: flex;
    gap: 3px;
}
.button {
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    border: 2px solid red;
    border-radius: 8px;
}
.subscribe {
    background-color: red; 
}

.subscribe:hover{
    background-color: white;
    color: red;
}
.login {
    color: red;
    background-color: white;
}

.login:hover {
    background-color: red;
    color: white;
}